/* CSS Reset */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: black;
}

#gameScreen {
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    background: blue;
}

#titleScreen {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    text-transform: uppercase;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background: gold;
}

#title {
    font-size: 6rem;
}

#subTitle {
    font-size: 3rem;
}

#btnPlay {
    width: 25vw;
    height: 15vh;
    border-radius: 2rem;
    border: 1rem solid white;
    background: lightblue;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

#infoBar {
    /* Hide until needed */
    display: none;
    position: relative;
    bottom: -78vh;
    width: 98%;
    height: 20vh;
    margin: 0 auto;
    background: lightblue;
    border: .2rem solid orange;
    border-radius: 2rem;
}

#infobar_Continue {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -4rem;
    right: 1rem;
    width: 20%;
    height: 7vh;
    background: orange;
    border-radius: 1rem;
    bottom: 0;
}

#infobar_Continue > h3 {
    letter-spacing: .5rem;
    text-transform: uppercase;
}